language: python
python:
  - "2.7"
  - "3.6"
cache: pip

install:
    - pip --version
    - pip install tox
    - tox --version

script:
    - tox -v

after_failure:
    - cat .tox/log/*
    - cat .tox/*/log/*
